page-index {
  button{
    background: rgb(255,214,94);
    background: -moz-linear-gradient(45deg, rgba(255,214,94,1) 0%, rgba(254,191,4,1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(255,214,94,1) 0%,rgba(254,191,4,1) 100%);
    background: linear-gradient(45deg, rgba(255,214,94,1) 0%,rgba(254,191,4,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd65e', endColorstr='#febf04',GradientType=1 );
  }
}
